<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Pra Já envios</title>


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="/static/css/index.css">

    </head>

    <body>
        
    <section class="header">
        <div class="container">
            <img src="/static/img/logo_praja_alpha.png" alt="logo pra ja">
        </div>

        <nav class="principal">
            <ul>
                <li><a href="/">Ínicio</a></li>
                <li><a href="/">Serviços</a></li>
                <li><a href="/">Simulador</a></li>
                <li><a href="/">Parceiros</a></li>
                <li><a href="/">Blog</a></li>
            </ul>
        </nav>

        <nav class="secundario">
            <ul>
                <li><a href="/login/">Login</a></li>
                <li><a class="cadastro-btn" href="/cadastro/">Cadastro</a></li>
            </ul>
        </nav>
    </section>

    <section class="hero">
        <div class="container">
            <div class="text">
                <h1>Mauris tincidunt sodales eu at est.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ultrices diam lorem.</p>

                <div class="btn">
                    <a href="/simulador/">Quero fazer uma simulação</a>
                </div>
            </div>

            <div class="img">
                <img src="/static/img/hero.svg" alt="Homem carregando caixa">
            </div>
        </div>
    </section>

    <section class="servicos">
        <h1>Nossos Serviços</h1>
        <div class="separador"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Massa nec vitae id ac nec. Aliquet vitae praesent tristique.</p>

        <div class="container">
            <div class="card">
                <div class="content">
                    <h1>Coleta de Carga</h1>
                    <div class="separador"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Diam sit varius proin parturient elit nec viverra. </p>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <h1>Envios Nacionais</h1>
                    <div class="separador"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Turpis cursus felis aliquam at venenatis, fringilla. Ultricies a.</p>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <h1>Envios Internacionais</h1>
                    <div class="separador"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Sit ac facilisis velit dolor enim, ac aliquet. Ac habitant turpis.</p>
                </div>
            </div>

        </div>
    </section>

    <section class="parceiros">
        <h1>Nossos parceiros</h1>
        <div class="separador"></div>
        <p>Sed mauris morbi blandit enim diam.</p>

        <div class="container">
            <div class="parceiro">
                <img src="/static/img/parceiros/total.png" alt="Logo empresa Jadlog preto e branco">
            </div>

            <div class="parceiro">
                <img src="/static/img/parceiros/jad.png" alt="Logo empresa total express preto e branco">
            </div>

            <div class="parceiro">
                <img src="/static/img/parceiros/azul.png" alt="Logo empresa azul preto e branco">
            </div>
        </div>
    </section>
    <section class="blog">
        <h1>Blog</h1>
        <div class="separador"></div>
        <p>Sed mauris morbi blandit enim diam.</p>
        <div class="container">
            
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <p>Pra Já Envios © 2022 - 2022 Todos os direitos reservados.</p>
        </div>
    </section>
    </body>
</html>