<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pra Já envios</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="stylesheet" href="/static/css/endereco.css">

    <style></style>
</head>
<body>
    <section class="header">
        <div class="container">
            <img src="/static/img/logo_praja_alpha.png" alt="logo pra ja">
        </div>

        <nav class="principal">
            <ul>
                <li><a href="/">Ínicio</a></li>
                <li><a href="/">Serviços</a></li>
                <li><a href="/simulador/">Simulador</a></li>
                <li><a href="/">Parceiros</a></li>
                <li><a href="/">Blog</a></li>
            </ul>
        </nav>

        <nav class="secundario">
            <ul>
                <li><a href="/user/">Minha conta </a></li>
                
            </ul>
        </nav>
    </section>

    <section class="navegador">
        <p>Olá,</p>
        <h1>Nome do Usuario</h1>
        
        <nav>
            <button  onclick="toggle('infos')" class="btn btn-info btn-def">
                    Informações pessoais         
            </button>
            
            <button  onclick="toggle('ender')" class="btn btn-endereco btn-def">
                Meus endereços        
            </button>

            <button  onclick="toggle('envi')" class="btn btn-envio btn-def">
                Meus Envios         
            </button>   
        </nav>
    
    </section>

    <section class="app">

    </section>

    <section class="footer">
        <div class="container">
            <p>Pra Já Envios © 2022 - 2022 Todos os direitos reservados.</p>
        </div>
    </section>

    <script src="/static/scripts/user.js"></script>
</body>
</html>